{{define "title"}}Authorise{{end}}
{{define "meta"}}
<meta content="{{.AppleDevToken}}" name="apple-music-developer-token">
<meta content="Musicmanager" name="apple-music-app-name">
<meta content="2022.2.4" name="apple-music-app-build">
{{end}}

{{define "body"}}
<div class="container mx-auto max-w-lg">
    <div class="flex flex-col mt-8 bg-white drop-shadow-xl px-8 py-8 rounded-lg">
        <h1 class="text-5xl text-center text-purple-300">Connect to your music services</h1>

        <div class="flex justify-between mt-20"
             x-data="auth()"
             x-init="$watch('appleToken', val => setCookie('soundfuse_appleusertoken', val))">
            <img alt="Apple Music logo" class="max-h-10" src="/static/img/apple-music-logo-svg.svg">
            <template x-if="appleToken === ''">
                <button
                        @click="authorize()"
                        class="bg-orange-500 text-white px-4 py-2 uppercase rounded-md items-center hover:shadow-xl hover:ease-in-out duration-300"
                        id="apple-music-authorize"
                        x-data>
                    <i class="fas fa-link mr-2"></i>Connect
                </button>
            </template>
            <template x-if="appleToken !== ''">
                <p class="text-2xl text-green-500"><i class="fas fa-check-circle"></i></p>
            </template>
        </div>
        <div class="flex justify-between mt-10" x-data>
            <img alt="Spotify logo" class="max-h-10" src="/static/img/spotify-logo.png">
            <template x-if="getCookie('soundfuse_spotifyaccesstoken') === ''">
                <a
                        class="bg-orange-500 text-white px-4 py-2 uppercase rounded-md items-center  hover:shadow-xl hover:ease-in-out duration-300"
                        href="{{.SpotifyAuthURL}}"
                        x-data>
                    <i class="fas fa-link mr-2"></i>Connect
                </a>
            </template>
            <template x-if="getCookie('soundfuse_spotifyaccesstoken') !== ''">
                <p class="text-2xl text-green-500"><i class="fas fa-check-circle"></i></p>
            </template>
        </div>
        <div class="flex justify-between mt-10" x-data>
            <template x-if="canLogin()">
                <a
                        class="bg-orange-500 text-white px-4 py-2 uppercase rounded-md items-center  hover:shadow-xl hover:ease-in-out duration-300"
                        href="/playlists"
                        x-data>
                    Login
                </a>
            </template>
            <template x-if="!canLogin()">
                <button
                        class="bg-slate-400 text-white px-4 py-2 uppercase rounded-md items-center"
                        disabled
                        x-data>
                    <i class="fas fa-link mr-2"></i>Login
                </button>
            </template>
        </div>
    </div>
</div>

{{end}}
{{define "script"}}
<script type="text/javascript">
    document.addEventListener('musickitloaded', function () {
        MusicKit.configure({
            developerToken: '{{.AppleDevToken}}',
            app: {
                name: 'MusicManager',
                build: '2022.2.4'
            }
        });
    });

    const auth = () => {
        return {
            appleToken: getCookie('soundfuse_appleusertoken'),
            authorize: function () {
                let music = MusicKit.getInstance()

                music.authorize().then(response => {
                    this.appleToken = response
                })
            }
        }
    }

    const getCookie = (name) => {
        return document.cookie.match('(^|;)\\s*' + name + '\\s*=\\s*([^;]+)')?.pop() || ''
    }

    const setCookie = (name, value) => {
        document.cookie = name + "=" + value
    }

    const canLogin = () => {
        console.log(getCookie('soundfuse_spotifyuserid') !== '')
        console.log(getCookie('soundfuse_spotifyusertoken') !== '')
        console.log(getCookie('soundfuse_appleusertoken') !== '')
        return getCookie('soundfuse_spotifyuserid') !== '' && getCookie('soundfuse_spotifyaccesstoken') !== '' &&
            getCookie('soundfuse_spotifyrefreshtoken') !== '' && getCookie('soundfuse_appleusertoken') !== ''
    }
</script>
{{end}}